/* start home */
.home .background {
  background-color: rgb(240, 255, 239);
  padding: 10px 64px;
  margin-top: 22px;
}
.home .title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}
.home .des {
  font-size: 18px;
}
.home .text {
  flex: 1;
}
.home .text .green-title {
  color: rgba(74, 163, 90, 1);
}
.home .all-recipe-button {
  background-color: rgba(74, 163, 90, 1);
  color: white;
  border: 0;
  height: max-content;
  padding: 13px 57px;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.home .all-recipe-button:hover {
  background-color: rgb(61 140 75);
}
/* end home */
/* Start Background for form */
.form-box {
  padding-bottom: 3px !important;
}
.form-bacgrkound {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: 25% 30%;
}

.overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.63),
    rgba(0, 0, 0, 0.62)
  );
  min-height: 100vh;
}
/* End Background for form */
/* Start form style  */

.form-control {
  border: 0 !important;
  background-color: rgb(240 240 240) !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: 0 !important;
}
.input-group-text {
  background-color: rgb(240 240 240) !important;
  display: block;
  position: relative;
  border: 0 !important;
}
.input-group-text::placeholder {
  color: rgba(131, 145, 161, 1);
}
.input-group-text::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  height: 70%;
  width: 1px;
  left: 95%;
}
.show-password {
  right: 0;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 23px;
  margin-right: 10px;
  color: rgba(131, 145, 161, 1);
}

.form-title {
  font-size: 25px;
  margin-top: 25px;
  font-weight: bold;
}
.form-desc {
  font-size: 16px;
  color: rgba(73, 73, 73, 0.6);
  margin-bottom: 33px;
}
.links:nth-child(2) {
  color: rgba(74, 163, 90, 1);
}
.form-button {
  background-color: rgba(74, 163, 90, 1);
  padding: 10px 100px;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
}
.form-button:hover {
  background-color: rgb(61 140 75);
}
form .links a {
  color: rgba(74, 163, 90, 1);
  font-weight: 500;
}

/* Start Loading Effect */

.loader {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 4px solid #263238;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* End Loading Effect */

/* start sidebar */

.sidebar .ps-sidebar-container {
  background-color: #1f263e;
  border-top-right-radius: 58px;
  color: white;
}
.sidebar .ps-sidebar-container .ps-menuitem-root .ps-menu-button:hover,
.sidebar .ps-sidebar-container .ps-menuitem-root .ps-active {
  position: relative;
  background-color: rgba(0, 146, 71, 0.1);
}
.sidebar .ps-sidebar-container a .ps-active {
  background-color: transparent !important;
}
.sidebar .ps-sidebar-container .logo img {
  width: 7rem;
  transition: all 0.3s ease-in-out;
}
.sidebar .ps-sidebar-container .logo .collapsed {
  width: 3rem;
}
.sidebar .ps-sidebar-container .logo .ps-menu-button:hover {
  background-color: transparent;
}
.sidebar .ps-sidebar-container .ps-active a {
  position: relative;
}
.ps-active a::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgba(74, 163, 90, 1);
  left: 0;
}
/* end sidebar */

/* start navbar */
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-icon {
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  margin-right: 40px;
}
.dropdown-icon-rotate {
  rotate: 180deg;
  font-size: 25px;
  margin-right: 40px;
  transition: all 0.2s ease-in-out;
}

.navbar .form-control {
  background: transparent !important;
}

.navbar .search-icon {
  font-size: 25px;
}
/* end navbar */

/* Start Header */
.header {
  background-color: rgba(74, 163, 90, 1);
}
.header .title {
  font-size: 40px;
}
@media (min-width: 992px) {
  .header .photo {
    margin-left: 170px;
  }
  .header .text {
    padding-left: 60px;
  }
}
.header .content {
  z-index: 3 !important;
  position: relative;
}
/* End Header */

/* start not found */

.not-found {
  background-image: url(./assets//Vector.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100vw;
  min-height: 100vh;
}
.not-found .text {
  margin-left: 1.5rem;
  padding-bottom: 4rem;
  font-size: 40px;
  bottom: 50%;
}
.not-found .desc {
  font-size: 16px;
  color: rgba(31, 38, 62, 1);
}
.not-found .form-button {
  font-size: 16px;
  margin-top: 50px;
}
.not-found .back-icon {
  margin-right: 4px;
}
.not-found .title {
  color: rgba(74, 163, 90, 1);
}
/* end not found */

/* start categories */
.head {
  margin: 18px 0px;
}
.new-category-button {
  border: 0;
  background-color: rgba(74, 163, 90, 1);
  color: white;
  border-radius: 8px;
}
.categories-table th {
  background-color: #e2e5eb !important;
  font-size: 16px;
  font-weight: 500;
  padding: 25px 30px !important;
}
.categories-table tr {
  font-size: 14px;
  font-weight: 400;
}
.table > :not(caption) > * > * {
  box-shadow: none !important;
}
.categories-table tbody tr {
  background-color: transparent;
}
table {
}
.categories-table {
  --bs-table-border-color: transparent !important;
  --bs-table-bg: unset !important;
  border: 0;
  position: relative;
}

.categories-table tbody tr:nth-child(2n) {
  background-color: rgba(248, 249, 251, 1) !important;
}
.categories-table .d-flex span {
  flex: 1;
}
.categories-table .icon {
  margin-right: 9px;
  font-size: 16px;

  color: rgba(74, 163, 90, 1);
}
.loader-table {
  position: absolute !important;
  margin-top: 10% !important;
  margin-left: 40% !important;
}
/* end categories */
/* Start Recipes */

.recipe-photo {
  width: 60px;
}
.recipes-list .search .input-group {
  width: 33.3%;
}
@media (max-width: 992px) {
  .recipes-list .search .input-group {
    width: 100%;
  }
}
/* End Recipes */
/* Start Confirm */
.confirm-content {
}
.confirm-title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}
.confirm-desc {
  font-size: 14px;
  font-weight: 400;
  color: rgba(73, 73, 73, 0.6);
  text-align: center;
  padding: 0 70px;
}
.confirm-delete {
  margin-right: 35px;
  border: 1px solid red;
  color: red;
  padding: 7px;
  margin-top: 50px;
  margin-bottom: 22px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}
.confirm-delete:hover {
  background-color: red;
  color: white;
}
.class-button {
  font-size: 32px;
  color: red !important;
  cursor: pointer;
  margin-top: 35px;
  margin-right: 35px;
}
.confirm-add-title {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 35px;
  margin-left: 35px;
  flex: 1;
}
.confirm-add-content {
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 70px;
}
.add-modal-button {
  width: max-content !important;
  background-color: rgba(74, 163, 90, 1);
  padding: 10px 35px;
  font-weight: 700;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
}
.add-modal-button:hover {
  background-color: rgb(61 140 75);
}
/* End Confirm */

/* Add recipe */
.add-recipe .background {
  background-color: rgb(240, 255, 239);
  padding: 10px 64px;
  margin-top: 22px;
}
.add-recipe .title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}
.add-recipe .des {
  font-size: 18px;
}
.add-recipe .text {
  flex: 1;
}
.add-recipe .text .green-title {
  color: rgba(74, 163, 90, 1);
}
.add-recipe .all-recipe-button {
  background-color: rgba(74, 163, 90, 1);
  color: white;
  border: 0;
  height: max-content;
  padding: 13px 57px;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.add-recipe .all-recipe-button:hover {
  background-color: rgb(61 140 75);
}
.add-recipe form {
  padding: 50px 134px;
}
.add-recipe .input-group-text::after {
  width: 0;
}
.add-recipe .buttons {
  margin-right: 40px;
}
.add-recipe .buttons button {
  border: 0;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.add-recipe .buttons button:nth-child(1) {
  border: 1px solid rgb(61 140 75);
  color: rgb(61 140 75);

  padding: 8px 50px;
  margin-right: 55px;
}
.add-recipe .buttons button:nth-child(1):hover {
  background-color: rgba(74, 163, 90, 1);
  color: white;
}
.add-recipe .buttons button:nth-child(2) {
  background-color: rgba(74, 163, 90, 1);
  padding: 8px 25px;
  color: white;
}
.add-recipe .buttons button:nth-child(2):hover {
  background-color: rgb(61 140 75);
}
.uploader {
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.uploader label {
  width: 100% !important;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 25px;
  border: 2px dashed rgba(74, 163, 90, 1);
  cursor: pointer;
}
.register .uploader label {
  padding: 8px;
}
.uploader label svg {
  display: none;
  color: rgba(74, 163, 90, 1) !important;
}
.uploader label::before {
  content: url("../src/assets/upload.png");
  display: block;
  width: 30px;
  height: 30px;

  margin: 0 auto;
}
.uploader .green-title {
  color: rgba(74, 163, 90, 1);
}
.loader {
  width: 18px;
  height: 18px;
}
/* End recipe */

/* Start User List */
.users-list .search .input-group {
  width: 33.3%;
}
@media (max-width: 992px) {
  .users-list .search .input-group {
    width: 100%;
  }
}
table {
  min-height: 530px;
}
.page-link {
  color: rgba(74, 163, 90, 1) !important;
}
.active > .page-link,
.page-link.active {
  color: white !important;
  background-color: rgba(74, 163, 90, 1) !important;
  border-color: rgba(74, 163, 90, 1) !important;
}
.pagination {
  justify-content: flex-end;
}
.anony-user {
  font-size: 20px;
}
/* End User List */

/* Start No Data */
.no-data img {
  width: 15%;
  margin-top: 22px;
}
.no-data .title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 22px;
}

/* End No Data */

/* Start View Modal */
.user-details-content .title {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
}
.user-details-content .head {
  font-weight: 600;
}
/* End View Modal */
